<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand d-flex w-50 mr-auto" href="">
            <img src="../../assets/images/Logo@Oclavi.png" />
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="width:80%">
        <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
           <li class="nav-item"><a href="/#about-us" class="nav-link link-scroll">About Us</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link link-scroll">Features</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Annotation Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/bounding-box-annotation">Bounding Box</a>
                    <a class="dropdown-item" href="/polygonal-annotation">Polygonal</a>
                    <a class="dropdown-item" href="/3d-cuboid-annotation">Cuboidal</a>
                </div>
            </li>
            <li class="nav-item"><a href="/#pricing" class="nav-link link-scroll">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use Cases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/agriculture-tech-computer-vision-model">Agriculture Tech</a>
                    <a class="dropdown-item active" href="/oil-and-gas-computer-vision-model">Oil and Gas</a>
                </div>
            </li>
            <li class="nav-item"><a href="/faq" class="nav-link link-scroll">Faq's</a></li>
            <li class="nav-item"><a href="/#contact-us" class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item"><a href="/freelancer" class="nav-link">Freelancer</a></li> -->
        </ul>
        <div class="navbar-text">
            <a href="/login" class="btn btn-outline-primary navbar-btn btn-shadow">Login</a>
            <a href="/#pricing" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
        </div>
        </div>
    </nav>
</header>
<section class="hero hero-home">
    <div class="container" id="pp-main-container">
        <div id='ppHeader'>Hydrocarbon exploration made easy with Artificial Intelligence</div>
        <br />
        <div id='ppBody'>
            <div style='clear:both;height:10px;'></div>
            <!-- <div id="ppSubHeader">What is GDPR?</div>
            <div style='clear:both;height:10px;'></div> -->
            <div class='innerText' style="font-style: italic;">
                As per the oil market report of International Energy Agency, global oil demand is estimated to increase by 1.5 million b/d to 99.3 million b/d in 2018. [1]
                <br /><br />
            </div>
            <div class='innerText' style="font-style: italic;">
                Scientific observation says that there are around 5,500 varieties [2] of naturally occurring minerals on earth. Do we know about all? Is there any shortcut to find out oil and gas depositions?
                <br /><br />
            </div>
            <div class='innerText'>
                <a href="https://en.wikipedia.org/wiki/Hydrocarbon" target="_blank">Hydrocarbon</a> exploration is an expensive affair; hence it has to be initiated only after costs and benefits are assessed. There are various methods to identify the sources of oil and gas like Well logging, remote sensing, Gravity survey, magnetic survey, seismic survey etc. which involves high costs and efforts.
                <br /><br />
            </div>
            <div class='innerText'>
                Exploring oil and gas under land or within the seabed using surface methods is based on two main principles.
                <br /><br />
            </div>
            <div class='innerText'>
                One is to survey geological features of the land to determine sedimentary rock formation, repeated folds, and faults. The other is to identify the hydrocarbon seepage on the earth surface.
                <br /><br />
            </div>
            <div class='innerText'>
                Using AI in deep-sea exploration may not give instant results but it attempts to give a boost to the detection know-hows. For example, if a cop wants to catch hold of criminals they first attempt to track their voice and text transactions with kith and kin. They attempt to catch hold of their close ones to trap the criminal.
                <br /><br />
            </div>
            <div class='innerText'>
                Similarly, <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank">Artificial Intelligence</a> attempts to identify natural seeps that occur when oil escapes from the fractured rocks found in ocean bed or on the ground. These seeps become tar-like deposits which are the best indicators to find energy sources.
                <br /><br />
            </div>
            <div class='innerText' style="font-style: italic;">
                Benefits by using Artificial intelligence in Oil and gas industry
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-oilandgas/uc-oilandgas-01.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">There will be a increase of 60% accuracy with 40% reduction in cost</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                Using Annotation tool to train computer vision models
                <br /><br />
            </div>
            <div class='innerText'>
                A trained computer vision model can identify the indicators of energy sources. The efficiency of the model depends on the data that is annotated and fed for system learning.
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-oilandgas/uc-oilandgas-02.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">Formation of sedimentary rocks, fold, and faults</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-oilandgas/uc-oilandgas-03.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">After annotation with OCLAVI</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                Tar deposits and Sedimentary rocks are formed in various shapes. Because of instability in shapes, polygon tool is a preferred tool to annotate such images for object recognition.
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-oilandgas/uc-oilandgas-04.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">Sedimentary rocks before annotating</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-oilandgas/uc-oilandgas-05.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">Annotating Sedimentary Rocks using OCLAVI</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText' style="font-style: italic;">
                By annotating with polygon tool irregular object shape detection is possible accurately, which helps in training models learn and detect the indicators of energy sources.
                <br /><br />
            </div>
            <div class='innerText' style="font-style: italic;">
                Usage of gas in the primary energy mix is likely to increase from 22% to 25%. Shaping the world energy system with AI revolution brings an increase in global GDP by 2030. [3]
                <br /><br />
            </div>
            <div class='innerText'>
                <b>References:</b>
                <br /><br />
                <ol type="1">
                  <li>Oil and Gas Journal-<a href="https://www.ogj.com/articles/2018/03/iea-raises-global-oil-demand-estimate-for-2018.html" target="_blank">https://www.ogj.com/articles/2018/03/iea-raises-global-oil-demand-estimate-for-2018.html</a></li>
                  <li>Wikipedia-<a href="https://en.wikipedia.org/wiki/Mineral#cite" target="_blank">https://en.wikipedia.org/wiki/Mineral#cite</a></li>
                  <li>Exxonmobil-https://cdn.exxonmobil.com/~/media/global/files/outlook-for-energy/2018/2018-outlook-for-energy.pdf</li>
                </ol>
            </div>
            <span id='infoCo'></span>
        </div>
    </div>
</section>
<!--- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#" class="brand">OCLAVI</a>
                <ul class="contact-info list-unstyled">
                <li><a href="mailto:support@oclavi.com">Support@Oclavi.com</a></li>
                <li><a href="tel:445603750100">+44 56 0375 0100</a></li>
                </ul>
                <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/oclavi" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/oclavi_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/carabinertechnologies/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Resources</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://medium.com/oclavi" target="_blank">Blog</a></li>
                <li> <a href="/faq">FAQ's</a></li>
                <li> <a href="/terms">Terms & Conditions</a></li>
                <li> <a href="/privacypolicy">Privacy Policy</a></li>
                <li> <a href="/gdpr-compliance">GDPR Compliance</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Carabiner Technologies</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://www.carabinertech.com/about">About Carabiner</a></li>
                <li> <a href="https://angel.co/carabiner-technologies/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-md-7">
            <p>&copy; 2018 Oclavi.com. All rights reserved.                        </p>
            </div>
        </div>
        </div>
    </div>
</footer>
