@import "../../assets/partials/_mixins.scss";

.my-project{
    font-family: 'helvetica-regular';
    color: #7B7E91;

    .head{

        input, .select{
            font-family: 'helvetica-regular';
            border-radius: 60px;
            color: #707070;
            border: 1px solid rgba(112, 112, 112, 0.91);
            font-size: 0.9rem;
            width: 130px;
            outline: none;
            background: transparent;
        }
        .select:focus{
            box-shadow: none;
        }
        .dropdown-toggle::after{
            content: none;
        }
        input{
            width: 100%;
        }
        ::-webkit-input-placeholder {   // Changing placeholder color in input boxes
            color: rgba(124, 127, 146, 0.33);
        }
        ::-moz-placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        :-ms-input-placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        ::placeholder {
            color: rgba(124, 127, 146, 0.33);
        }

        .search-icon {
            position: absolute;
            top: 7px;
            left: 15px;
            color:#1C9EE4;
        }
        .down-arrow{
            position: absolute;
            right: 11px;
            font-size: 0.7rem;
            top: 12px;
            color:#1C9EE4;
        }
        .dropdown-menu {
            font-size: 0.9rem; 
        }
        .dropdown-item:active{
            background: rgba(28, 158, 228, 0.1)
        }
        .change-view-icon{
            color:#1C9EE4;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }

    .container {
        @media(min-width: 1400px){
            max-width: unset !important;
        } 
    }

    .project-folders{
        color: #505571;
        font-weight:600;
        transition: 1s;

        @media(max-width: 998px){
            font-size: 0.85rem;
        }       

        .folder{
            cursor: pointer;

            .folder-icon{
                width: 1.7rem;
                
                @media(max-width: 998px){
                    width: 1.15rem;
                }                
            }
        }

        #actions{
            cursor: pointer;
        }

        .dropdown-menu{
            min-width: unset !important;

            .dropdown-item{
                cursor: pointer;
                
                @media(max-width: 998px){
                    font-size: 0.85rem;
                }
            }
        }
    }

    .freelancer-project-folders
    {
        .project-title {
            font-size: 1.2rem;
        }
        .info {
            font-size: 0.9rem;
        }
        .blue-grad-btn{
            
            @include btn-twoColorLinearGradient(#556df6, #5142ff, #1fbcff, #2437e9, to right, 200% 150%);
            @include btn-twoColorLinearGradient-hover( right center);
        }
    }
}