<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand d-flex w-50 mr-auto" href="">
            <img src="../../assets/images/Logo@Oclavi.png" />
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="width:80%">
        <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
            <li class="nav-item"><a href="/#about-us" class="nav-link link-scroll">About Us</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link link-scroll">Features</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Annotation Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/bounding-box-annotation">Bounding Box</a>
                    <a class="dropdown-item" href="/polygonal-annotation">Polygonal</a>
                    <a class="dropdown-item" href="/3d-cuboid-annotation">Cuboidal</a>
                </div>
            </li>
            <li class="nav-item"><a href="/#pricing" class="nav-link link-scroll">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use Cases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/agriculture-tech-computer-vision-model">Agriculture Tech</a>
                </div>
            </li>
            <li class="nav-item"><a href="/faq" class="nav-link link-scroll">Faq's</a></li>
            <li class="nav-item"><a href="/#contact-us" class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item"><a href="/freelancer" class="nav-link">Freelancer</a></li> -->
        </ul>
        <div class="navbar-text">
            <a href="/login" class="btn btn-outline-primary navbar-btn btn-shadow">Login</a>
            <a href="/#pricing" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
        </div>
        </div>
    </nav>
</header>
<section class="hero hero-home">
    <div class="container" id="faq-main-container">
        <section class="row" style="margin-bottom:-25%">
            <div class="col-xs-9 col-md-7">
                <p class="faq-title">Frequently Asked Questions</p>
                <p class="faq-title-tagline">Updated on 05<sup>th</sup> December 2018</p>
            </div>
        </section>
        <section class="faq-main-tab">
            <main>
                <input class="tab-input" id="tab1" type="radio" name="tabs" checked>
                <label class="tab-label" for="tab1">General</label>

                <input class="tab-input" id="tab2" type="radio" name="tabs">
                <label class="tab-label" for="tab2">Payment</label>

                <input class="tab-input" id="tab3" type="radio" name="tabs">
                <label class="tab-label" for="tab3">Plans</label>

                <input class="tab-input" id="tab4" type="radio" name="tabs">
                <label class="tab-label" for="tab4">Google Drive</label>

                <input class="tab-input" id="tab5" type="radio" name="tabs">
                <label class="tab-label" for="tab5">AWS S3</label>

                <input class="tab-input" id="tab6" type="radio" name="tabs">
                <label class="tab-label" for="tab6">Azure</label>

                <section class="tab-section" id="content1">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-11" name="accordion-1" type="radio" checked="">
                        <label class="tab-sec-label" for="ac-11">What is OCLAVI?</label>
                        <article class="ac-small">
                            <p>OCLAVI is an application where one can annotate their images that are stored in google drive or amazon s3 either alone or invite their team to annotate that can feed into their machine learning, artificial intelligence and NLP based models.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-12" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-12">How does OCLAVI help me?</label>
                        <article class="ac-small">
                            <p>At OCLAVI we try to help you in three different ways,</p>
                            <p>1. <b>For Developer - </b>OCLAVI provides a platform where developers can annotate objects either by themselves, by their team or choose OCLAVI team to annotate. Thus, enabling developer to concentrate much on developing model.</p>
                            <p>2. <b>For Business entity or entrepreneurs – </b>OCLAVI helps them bring their team and complete their projects in most economical way.</p>
                            <p>3. <b>For Freelancer – </b>OCLAVI provides freelancing job to people who want to earn in their free time. Hence, allowing you to work whenever and wherever you want with the skills you possess and also by taking help of 40hr and 5 level training programs provided by OCLAVI.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-13" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-13">Does OCLAVI provide team members to annotate?</label>
                        <article class="ac-small">
                            <p>Well, recently we have started hiring freelancers via platform who can annotate the images on your behalf.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-14" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-14">Can freelancers provide high Quality data?</label>
                        <article class="ac-small">
                            <p>Yes, all the freelancers who are being hired via OCLAVI platform have to go through a vigorous 40 hrs training course with various levels before being allocated. Also, Quality checks are done on the tasks they perform. OCLAVI assures you the quality service.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-15" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-15">Can I get help when I am struck?</label>
                        <article class="ac-small">
                            <p>Yes, we have a dynamic chat bot system which enables us to connect with you whenever needed. Typical time taken for response through OCLAVI chat bot is under 30 min.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-16" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-16">Difference between Self classifier, Team classifier and Admin accounts</label>
                        <article class="ac-small">
                            <p>The difference between them is When you, login as Self classifier, you can annotate objects yourself. 
                                If you want to bring in your team to classify the objects you can login as Admin and invite your team to annotate objects.
                                And your Invited team members or users will login through Team classifier account.
                                <br />
                            </p>
                            <table style="margin: 0 auto;" border="1">
                                <tr>
                                    <th>Type of Account</th>
                                    <th># of Seats</th>
                                    <th>Type of Annotation tools</th>
                                </tr>
                                <tr>
                                    <td>Self classifier</td>
                                    <td>1</td>
                                    <td>Depends on plan</td>
                                </tr>
                                <tr>
                                    <td>Admin</td>
                                    <td>1 (Minimum 3)</td>
                                    <td>Depends on plan</td>
                                </tr>
                                <tr>
                                    <td>Team classifier</td>
                                    <td>Depends on Admin Invitations to users</td>
                                    <td>Depends on plan</td>
                                </tr>
                            </table>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-17" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-17">How many users can an Admin account invite?</label>
                        <article class="ac-small">
                            <p>The minimum no. 0f users <strong>Admin</strong> account can invite is 3, So typically it will be 1 Admin + 3 users or team members and no of seats or users depends on the plan you choose.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-18" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-18">What is add project after login OCLAVI?</label>
                        <article class="ac-small">
                            <p>It’s the option to create a folder where you work on project. Helps you to pick the folder from your desired drive. Creating a new folder and choosing it helps you to stay organized throughout the project till the completion of project. <a href="https://www.youtube.com/watch?v=t4Rih1bwUno" target="_blank">Click here</a> to check the demo.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-19" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-19">What happens if I click <strong>Start Synchroniser</strong>?</label>
                        <article class="ac-small">
                            <p>It syncs the objects from the drive of your choice on your <a href="htts://oclavi.com">OCLAVI</a> account. Hence, enabling you to annotate.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-110" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-110">Can I skip <strong>Label Setting</strong>?</label>
                        <article class="ac-small">
                            <p>No, You cant. It’s the first step in your execution of project.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-111" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-111">What is <strong>View Image</strong>?</label>
                        <article class="ac-small">
                            <p>It helps you to look at status of completion of project, this helps Admin to allocate tasks when he invites new members.</p>
                        </article>
                    </div>
                </section>

                <section class="tab-section" id="content2">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-21" name="accordion-1" type="radio" checked="">
                        <label class="tab-sec-label" for="ac-21">How do I pay?</label>
                        <article class="ac-small">
                            <p>Click on the upgrade button which is available in your profile page under payments tab.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-22" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-22">Do you accept Paypal, Amazon payments, ....?</label>
                        <article class="ac-small">
                            <p>Our payment gateway provider supports all International credit cards(VISA, AMEX, MasterCard,
                                Diners Club, Maestro) and Indian debit cards, Rupay and your card will finally be charged in INR. However, we are working hard in bringing
                                region based payment gateway's as soon as possible, please visit our blog for any payment
                                gateway updates.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-23" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-23">How safe are my card details?</label>
                        <article class="ac-small">
                            <p>All payments are processed by
                                <a href="https://razorpay.com/payment-gateway/">
                                    <strong>RazorPay</strong>
                                </a> or <strong>Paypal</strong> depending upon the region. We do not ever store your card details.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-24" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-24">My card details have changed. Where can I update my card number?</label>
                        <article class="ac-small">
                            <p>You can do this from the profile page -> payment's tab.</p>
                        </article>
                    </div>
                </section>

                <section class="tab-section" id="content3">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-31" name="accordion-1" type="radio" checked="">
                        <label class="tab-sec-label" for="ac-31">What is Admin plan?</label>
                        <article class="ac-small">
                            <p>We have two Admin plans,
                                <strong>Student Admin</strong> and
                                <strong>Pro Admin</strong>.
                                <strong>Student Admin</strong> plan is free for life with limited feature and restrictions in number of object being annotated, whereas
                                <strong>Pro Admin</strong> is chargable with advanced features.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-32" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-32">What is Self plan?</label>
                        <article class="ac-small">
                            <p>We have two Self plans,
                                <strong>Student Self</strong> and
                                <strong>Pro Self</strong>.
                                <strong>Student Self</strong> plan is free for life with limited feature and restrictions in number of object being annotated, whereas
                                <strong>Pro Self</strong> is chargeable with advanced features.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-33" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-33">How do upgrades and downgrades work?</label>
                        <article class="ac-small">
                            <p>You can upgrade or downgrade your plan at any time. You will switch to the new plan immediately. You will be charged at the end of the billing cycle at a pro-rated basis.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-34" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-34">When will I get billed?</label>
                        <article class="ac-small">
                            <p>Our plans are monthly, so you will be charged immediately upon subscribing and then every month on the same day it'll be renewed.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-35" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-35">What is the process for cancelling my subscription?</label>
                        <article class="ac-small">
                            <p>You can cancel your subscription any time. Your subscription will be active until the end of the current billing cycle. You can continue using
                                <strong>OCLAVI</strong> in your current plan until this period after which you will be automatically switched to a Free plan. To cancel you need to go to your profile page -> payments tab and click on cancel subscription.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-36" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-36">What is your refund policy?</label>
                        <article class="ac-small">
                            <p>
                                <strong>OCLAVI</strong> is built as a pay-as-you-go service so you can choose a reasonable plan that suits you and start using the platform. This also means that it is difficult to refund payments after customer have used
                                the service for a few days. We do not have a refund policy, but we made it easy for you to upgrade, downgrade and cancel. If you believe your case is an outlier and deserves a refund, please write to us so we can figure
                                out a way to make things right.
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-37" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-37">How do you calculate the image limit?</label>
                        <article class="ac-small">
                            <p>If you choose
                                <strong>Student Self</strong> or
                                <strong>Student Admin</strong> plan, then each time when you synchronize the images, we check the number of images that are already being classified and check how are present in the storage type that you have chosen and
                                then we would only sync the number of images that are left over from your limit. If you want more images to be included for classification, then you have to upgrade your account.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-38" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-38">Can I invite more team members in Student Admin plan?</label>
                        <article class="ac-small">
                            <p>Yes, you can invite more people in
                                <strong>Student Admin</strong> plan, however when you buy more seats it'll be upgraded to pro and is charged on per seat basis and even for the initial free one's.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-39" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-39">What is a seat in Admin plan?</label>
                        <article class="ac-small">
                            <p>Seat is a placeholder for every individual you choose to invite on the platform to annotate.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-310" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-310">How do I add more seats to my Pro Admin plan?</label>
                        <article class="ac-small">
                            <p>All upgrades are handled in your favor. We charge only for the difference in price between the number of seats you currently have and the number of seats you want total.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-311" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-311">Are plans available for less than 3 seats?</label>
                        <article class="ac-small">
                            <p>No, there is no Admin plan which you can subscribe to which has less than 3 seats.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-312" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-312">We are a large company (100+ users). Do you have a Pro Admin options for us?</label>
                        <article class="ac-small">
                            <p>Yes.
                                <a href="/#contact-us">Contact us</a> to speak to a sales representative about large installations.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-313" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-313">Do you offer discounts?</label>
                        <article class="ac-small">
                            <p>Yes. We offer volume, academic, and non-profit discounts.
                                <a href="/#contact-us">Contact our sales team</a> for more information.</p>
                        </article>
                    </div>
                </section>

                <section class="tab-section" id="content4">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-41" name="accordion-1" type="radio" checked="">
                        <label class="tab-sec-label" for="ac-41">How to connect my Google Drive?</label>
                        <article class="ac-small">
                            <p>You can connect your google drive by going to your OCLAVI profile page and in image settings tab select "Google Drive" option and then click on connect button and then synchronize the images.
                                <br />
                                <br /> Below is the screenshot for the same,
                                <br />
                                <br />
                                <img src="../../assets/images/oc-gdrive-01.png" width="70%" height="70%" style="border:1px solid #4DA9F7;" />
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-42" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-42">How to know if the Google Drive connect was successful or not?</label>
                        <article class="ac-small">
                            <p>Check your google drive if you can see a folder titled
                                <strong>OCLAVI</strong>, if so the connection was successful, else
                                <a href="/#contact-us">
                                    <strong>contact our support team</strong>
                                </a>.</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-43" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-43">What does synchronize do?</label>
                        <article class="ac-small">
                            <p>
                                Synchronizer will iterate the folder location provided by you and prepare all the images for annotation. These images will then be released one by one for annotation. Although this is a onetime process, but you can redo it if you have added new images in your folder and is within the OCLAVI limit.
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-44" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-44">How to synchronize the images?</label>
                        <article class="ac-small">
                            <p>To synchronize the images from the google drive, click on the
                                <strong>Synchronizer</strong> button which is there on the
                                <strong>Image Settings</strong> tab on your
                                <strong>OCLAVI Profile Page</strong>.
                                <br />
                                <br /> Below is the screenshot for the same,
                                <br />
                                <br />
                                <img src="../../assets/images/oc-sync-01.png" width="70%" height="70%" style="border:1px solid #4DA9F7;" />
                                <br />
                                <br />
                                <strong>Note:</strong> Before synchronizing the image, ensure you upload/move your images onto the
                                <strong>OCLAVI</strong> folder in your Google Drive.
                            </p>
                        </article>
                    </div>
                </section>

                <section class="tab-section" id="content5">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-51" name="accordion-1" type="radio" checked="">
                        <label class="tab-sec-label" for="ac-51">How to connect my Amazon S3?</label>
                        <article class="ac-small">
                            <p>Please go through the get started docs in your profile page which talks about connecting AWS S3</p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-52" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-52">How to know if the AWS S3 connect was successful or not?</label>
                        <article class="ac-small">
                            <p>
                                Upon adding the S3 bucket details click on <strong>Save</strong> button, if there is any issue there would be a notification on the top right side of the screen.
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                            <input class="tab-sec-input" id="ac-53" name="accordion-1" type="radio">
                            <label class="tab-sec-label" for="ac-53">What does synchronize do?</label>
                            <article class="ac-small">
                                <p>
                                    Synchronizer will iterate the folder location provided by you and prepare all the images for annotation. These images will then be released one by one for annotation. Although this is a onetime process, but you can redo it if you have added new images in your folder and is within the OCLAVI limit.
                                </p>
                            </article>
                        </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-54" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-54">How to synchronize the images?</label>
                        <article class="ac-small">
                            <p>To synchronize the images from the AWS S3, click on the
                                <strong>Synchronizer</strong> button which is there on the
                                <strong>Image Settings</strong> tab on your
                                <strong>OCLAVI Profile Page</strong>.
                                <br />
                                <br /> Below is the screenshot for the same,
                                <br />
                                <br />
                                <img src="../../assets/images/oc-sync-01.png" width="70%" height="70%" style="border:1px solid #4DA9F7;" />
                                <br />
                                <br />
                            </p>
                        </article>
                    </div>
                </section>

                <section class="tab-section" id="content6">
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-61" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-61">How to get the Azure <b>Connectiong String</b>?</label>
                        <article class="ac-small">
                            <p>You can get the <b>connection string</b> for a BLOB or FILE Storage type by going to <b>Access Keys</b> section under a particular Storage account, copy the key1 connection string, below is the screenshot for the same,</p>
                            <p><img src="../../assets/images/landing-page/faq/azure-connection-string.png" width="70%" height="40%" style='border:1px solid #000000' /></p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-62" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-62">What is the difference between Azure BLOB Storage vs Azure File Storage?</label>
                        <article class="ac-small">
                            <p>
                                <b>Azure BLOB</b>, With exabytes of capacity and massive scalability, Blob Storage stores from hundreds to billions of objects in hot, cool, or archive tiers, depending on how often data access is needed. Store any type of unstructured data—images, videos, audio, documents and more—easily and cost-effectively.
                            </p>
                            <p>
                                <b>Azure File Storage</b> for managed file shares that use standard SMB 3.0 protocol. Share data with on-premises and cloud servers.
                            </p>
                            <p>
                                Kindly go through the below article to decide when to use Azure Blobs and Azure Files, <a href="https://docs.microsoft.com/en-us/azure/storage/common/storage-decide-blobs-files-disks" target="_blank">Click here to read the article</a>
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-63" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-63">Where to find the <b>Container Name</b> / <b>Share Name</b>?</label>
                        <article class="ac-small">
                            <p>
                                You can find the <b>container name(for BLOB) or share name(for File Storage)</b> under Storage accounts, below is the screenshot for the same,
                                <br /><br />
                                <img src="../../assets/images/landing-page/faq/azure-container-name.png" width="70%" height="40%" style='border:1px solid #000000' />
                            </p>
                        </article>
                    </div>
                    <div class="tab-sec-accor">
                        <input class="tab-sec-input" id="ac-64" name="accordion-1" type="radio">
                        <label class="tab-sec-label" for="ac-64">What does synchronize do?</label>
                        <article class="ac-small">
                            <p>
                                Synchronizer will iterate the folder location provided by you and prepare all the images for annotation. These images will then be released one by one for annotation. Although this is a onetime process, but you can redo it if you have added new images in your folder and is within the OCLAVI limit.
                            </p>
                        </article>
                    </div>
                </section>
            </main>
        </section>
    </div>
</section>
<!--- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#" class="brand">OCLAVI</a>
                <ul class="contact-info list-unstyled">
                <li><a href="mailto:support@oclavi.com">Support@Oclavi.com</a></li>
                <li><a href="tel:445603750100">+44 56 0375 0100</a></li>
                </ul>
                <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/oclavi" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/oclavi_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/carabinertechnologies/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Resources</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://medium.com/oclavi" target="_blank">Blog</a></li>
                <li> <a href="/faq">FAQ's</a></li>
                <li> <a href="/terms">Terms & Conditions</a></li>
                <li> <a href="/privacypolicy">Privacy Policy</a></li>
                <li> <a href="/gdpr-compliance">GDPR Compliance</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Carabiner Technologies</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://www.carabinertech.com/about">About Carabiner</a></li>
                <li> <a href="https://angel.co/carabiner-technologies/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-md-7">
            <p>&copy; 2018 Oclavi.com. All rights reserved.                        </p>
            </div>
        </div>
        </div>
    </div>
</footer>