<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand d-flex w-50 mr-auto" href="">
            <img src="../../assets/images/Logo@Oclavi.png" />
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="width:80%">
        <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
            <li class="nav-item"><a href="/#about-us" class="nav-link link-scroll">About Us</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link link-scroll">Features</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Annotation Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/bounding-box-annotation">Bounding Box</a>
                    <a class="dropdown-item" href="/polygonal-annotation">Polygonal</a>
                    <a class="dropdown-item" href="/3d-cuboid-annotation">Cuboidal</a>
                </div>
            </li>
            <li class="nav-item"><a href="/#pricing" class="nav-link link-scroll">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use Cases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/agriculture-tech-computer-vision-model">Agriculture Tech</a>
                </div>
            </li>
            <li class="nav-item"><a href="/faq" class="nav-link link-scroll">Faq's</a></li>
            <li class="nav-item"><a href="/#contact-us" class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item"><a href="/freelancer" class="nav-link">Freelancer</a></li> -->
        </ul>
        <div class="navbar-text">
            <a href="/login" class="btn btn-outline-primary navbar-btn btn-shadow">Login</a>
            <a href="/#pricing" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
        </div>
        </div>
    </nav>
</header>
<section class="hero hero-home">
    <div class="container" id="terms-main-container">
        <h2>
            <strong>OCLAVI Terms and Conditions</strong>
        </h2>
        <p>These terms and conditions outline the rules and regulations for the use of OCLAVI‘s
            Website and it's web applications/products.</p>
        <p>OCLAVI - Carabiner Technologies Private Limited&nbsp;is located at: Hyderabad, India</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use OCLAVI‘s website and it's web applications/products if you do not agree to take all of the terms and conditions stated on this page.</p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all
            Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company’s
            terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”,
            or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration
            of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner
            for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services,
            in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words
            in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as
            referring to same.</p>
        <h3>
            <strong>Cookies</strong>
        </h3>
        <p>We employ the use of cookies. By accessing OCLAVI’s website and it's web applications/products, you agreed to use cookies
            in agreement with the OCLAVI’s privacy policy.</p>
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our
            website to enable the functionality of certain areas to make it easier for people visiting our website. Some
            of our affiliate/advertising partners may also use cookies.</p>
        <h3>
            <strong>Eligibility</strong>
        </h3>
        <p>To use our services, you must</p>
        <ol>
            <li>be at least sixteen (16) years old.</li>
            <li>complete the registration process;</li>
            <li>agree to the Terms and Conditions</li>
            <li>provide true, complete, and up to date contact information.</li>
        </ol>
        <p>By using our services, you represent and warrant that you meet all the requirements listed above, and that you won’t use our services in a way that violates any laws or regulations. (Representing and warranting is like making a legally enforceable promise.) OCLAVI may refuse service, close accounts of any users, and change eligibility requirements at any time.</p>
        <h3>
            <strong>Contractual Relationship</strong>
        </h3>
        <p>
            OCLAVI may terminate any of these terms or any services with respect to you, or generally cease offering or deny access to the services or any portion thereof, at any time for any reason.
        </p>
        <p>
            Supplemental Terms may apply to certain services, such as policies for any particular event, activity or promotion, and such supplemental terms will be published on our services in connection with the applicable services from time to time. Supplemental Terms are in addition to, and shall be considered a part of, the Terms and Conditions of Use the purposes of the applicable services. Supplemental Terms shall prevail over these Terms and Conditions of Use in the event of a conflict with respect to the applicable services.
        </p>
        <p>
            Terms and policies about Gathering and use of your personal information with regard to the service provided by OCLAVI are located at <a href="/privacypolicy">OCLAVI Privacy Policy</a>
        </p>
        <h3>
            <strong>License</strong>
        </h3>
        <p>Unless otherwise stated, OCLAVI&nbsp;and/or its licensors own the intellectual property
            rights for all material on OCLAVI(http://www.oclavi.com)&nbsp;All intellectual property rights are reserved.
            You may access this from https://www.oclavi.com&nbsp;for your own personal use subjected to restrictions
            set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
            <li>Republish material from https://www.carabinertech.com and https://oclavi.com</li>
            <li>Sell, rent or sub-license material from https://www.carabinertech.com and https://oclavi.com</li>
            <li>Reproduce, duplicate or copy material from&nbsp;https://www.carabinertech.com and https://oclavi.com</li>
            <li>Redistribute content from OCLAVI and Carabiner Technologies Private Limited.</li>
        </ul>
        <p>This Agreement shall begin on the date hereof.</p>
        <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas
            of the website. OCLAVI does not filter, edit, publish or review Comments prior
            to their presence on the website. Comments do not reflect the views and opinions of OCLAVI, its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views
            and opinions. To the extent permitted by applicable laws OCLAVI shall not be
            liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use
            of and/or posting of and/or appearance of the Comments on this website.</p>
        <p>However, Carabiner Technologies Private Limited and OCLAVI&nbsp;reserves the right to monitor all Comments and to remove any Comments
            which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
        <p>You warrant and represent that:</p>
        <ul>
            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
            <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or
                trademark of any third party;</li>
            <li>The Comments do not contain any defamatory, libellous, offensive, indecent or otherwise unlawful material which
                is an invasion of privacy</li>
            <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful
                activity.</li>
        </ul>
        <p>You hereby grant Carabiner Technologies Private Limited and OCLAVI&nbsp;a non-exclusive license to use, reproduce, edit and
            authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
        <h3>
            <strong>Hyperlinking to our Content</strong>
        </h3>
        <p>The following organizations may link to our Website without prior written approval:</p>
        <ul>
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of
                other listed businesses; and</li>
            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity
                fundraising groups which may not hyperlink to our Web site.</li>
        </ul>
        <p>These organizations may link to our home page, to publications or to other Website information so long as the link:
            (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking
            party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>
        <p>We may consider and approve other link requests from the following types of organizations:</p>
        <ul>
            <li>commonly-known consumer and/or business information sources;</li>
            <li>dot.com community sites;</li>
            <li>associations or other groups representing charities;</li>
            <li>online directory distributors;</li>
            <li>internet portals;</li>
            <li>accounting, law and consulting firms; and</li>
            <li>educational institutions and trade associations.</li>
        </ul>
        <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavourably
            to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us;
            (c) the benefit to us from the visibility of the hyperlink compensates the absence of OCLAVI; and (d) the link is in the context of general resource information.</p>
        <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not
            falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c)
            fits within the context of the linking party’s site.</p>
        <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you
            must inform us by sending an e-mail to info@oclavi.com. Please include your name, your organization name,
            contact information as well as the URL of your site, a list of any URLs from which you intend to link to our
            Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
        <p>Approved organizations may hyperlink to our Website as follows:</p>
        <ul>
            <li>By use of our corporate name; or</li>
            <li>By use of the uniform resource locator being linked to; or</li>
            <li>By use of any other description of our Website being linked to that makes sense within the context and format
                of content on the linking party’s site.</li>
        </ul>
        <p>No use of OCLAVI and Carabiner Technologies Private Limited’s logo or other artwork will be allowed for linking absent a trademark
            license agreement.</p>
        <h3>
            <strong>iFrames</strong>
        </h3>
        <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way
            the visual presentation or appearance of our Website.</p>
        <h3>
            <strong>Content Liability</strong>
        </h3>
        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us
            against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted
            as libellous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other
            violation of, any third-party rights.</p>
        <h3>
            <strong>Reservation of Rights</strong>
        </h3>
        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately
            remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and
            it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow
            these linking terms and conditions.</p>
        <h3>
            <strong>Removal of links from our website</strong>
        </h3>
        <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment.
            We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
        <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy;
            nor do we promise to ensure that the website remains available or that the material on the website is kept up
            to date.</p>
        <h3>
            <strong>Provision of Service and storage space</strong>
        </h3>
        <p>
            With effect from the agreed point in time, Provider shall make available the Service for use in accordance with the provisions of these Terms and Conditions on server infrastructure provided by him or its subcontractors (hereinafter referred to as “Server”).
        <p>
        <p>Access to the Service by Customer shall be browser-based via the Internet or via an application interface set up by Provider.</p>
        <p>Provider shall send Customer the necessary access credentials required for access to and use of the Service, unless the registration of a OCLAVI ID is required, for which Customer is responsible himself.</p>
        <p>Customer shall change all passwords into passwords known only to him without undue delay and shall keep them confidential. Provider is not responsible for the consequences of misuse of user passwords.</p>
        <p>Provider is only responsible for the proper functioning of his systems up to the Internet hubs of his data center.</p>
        <h3>
            <strong>Disclaimer</strong>
        </h3>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating
            to our website and the use of this website. Nothing in this disclaimer will:</p>
        <ul>
            <li>limit or exclude our or your liability for death or personal injury;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>
        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject
            to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities
            arising in contract, in tort and for breach of statutory duty.</p>
        <p>As long as the website and the information and services on the website are provided free of charge, we will not be
            liable for any loss or damage of any nature.</p>
        <h3>
            <strong>Payment and Commercial Terms</strong>
        </h3>
        <p>
            If you are a paid User, you agree to pay all per-use Subscription Fees or fees associated with your usage, as appropriate ("Subscription Fees"). All subscriptions paid through third parties are subject to the third party's Terms and Conditions of Use, and we shall not be responsible for anything contained therein. You are responsible for payment of any sales or use taxes associated with the Subscription Fees or your use of our services.
        </p>
        <p>
            If, for whichever reason, your payment is not received by OCLAVI, your paid User account will revert to a free User account until payment is received by us. You agree that until your paid User account subscription is terminated or expires, you will continue to remain responsible for the subscription payments, even if you do not use our service. Subscription payments are non-refundable.
        </p>
        <h3>
            <strong>Changes in Subscription plans</strong>
        </h3>
        <p>
            OCLAVI has all rights to change fees at any time by posting a new pricing structure to our services and/or sending you a notification by email.
        </p>
        <h3>
            <strong>Notice of Copyright or Intellectual Property Breach</strong>
        </h3>
        <p>
            Kindly report us if you consider any of your intellectual property rights have been infringed by a User of our services. Please email support@oclavi.com for grievances and customer service queries.
        </p>
    </div>
</section>
<!--- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#" class="brand">OCLAVI</a>
                <ul class="contact-info list-unstyled">
                <li><a href="mailto:support@oclavi.com">Support@Oclavi.com</a></li>
                <li><a href="tel:445603750100">+44 56 0375 0100</a></li>
                </ul>
                <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/oclavi" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/oclavi_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/carabinertechnologies/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Resources</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://medium.com/oclavi" target="_blank">Blog</a></li>
                <li> <a href="/faq">FAQ's</a></li>
                <li> <a href="/terms">Terms & Conditions</a></li>
                <li> <a href="/privacypolicy">Privacy Policy</a></li>
                <li> <a href="/gdpr-compliance">GDPR Compliance</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Carabiner Technologies</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://www.carabinertech.com/about">About Carabiner</a></li>
                <li> <a href="https://angel.co/carabiner-technologies/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-md-7">
            <p>&copy; 2018 Oclavi.com. All rights reserved.                        </p>
            </div>
        </div>
        </div>
    </div>
</footer>
