@import "../../assets/partials/_mixins.scss";

// .saveButton{
//     //@include gradientButton-hover(white,linear-gradient(to right, royalblue, #869feb));
//     @include gradButton-hover(white, royalblue, #869feb);
// }

// .detail
// {
//     display: flex;

//     width: 60%;
//     margin-right: auto !important;
//     margin-left: auto;

//     span
//     {
//         width: 50%;
//         padding-top: 4%;
//     }

//     input[type='password'] {
//        width : 40% !important;
//     }

//     input[type='text'] {
//        width : 40% !important;
//     }

//     .fa.password-masking-icon {
//         border: none;
//         margin-left: -40px;
//         margin-top: 20px;
//     }
// }

$theme-color-btn-skyblue: #14d4ed;
$theme-color-btn-darkSkyBlue: #1a91ca;

.password-component{
    .form-control{
        border-radius: 2rem;
    }
    .form-control:focus{
        box-shadow: none;
    }
    i{
        position: relative;
        left: 90%;
        top: -2rem;

        @media (min-width: 768px){
            left: 92%;
        }

        @media (min-width: 998px){
            left: 91%;
        }
    }
    .btn-rounded{
        @include btn-twoColorLinearGradient(#149fda,#1fbcff, #3bccff, #3f86ed, to right, 200% 150%);
        @include btn-twoColorLinearGradient-hover( right center);
    }
}
