<div class="password-component">    
    <div class="p-5 bg-white m-2">
        <div class="form-group row mb-2">
            <label for="currentPass" class="col-lg-4 col-form-label">Enter Old Password : </label>
            <div class="col-lg-6">
                <input id="currentPass" [disabled]="is_Edit=='false' ? true : null" [type]='passwordMasking[0].type' placeholder="Current Password" [(ngModel)]="oldPassword" name="password" required class="form-control pr-5">
                <i [class]="passwordMasking[0].class" (click)="toggle(0)"></i>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="newPass" class="col-lg-4 col-form-label">Enter New Password :</label>
            <div class="col-lg-6">
                <input id="newPass" [disabled]="is_Edit=='false' ? true : null"  [type]='passwordMasking[1].type' placeholder="Password" [(ngModel)]="newPassword" name="newPassword" required class="form-control pr-5">
                <i [class]="passwordMasking[1].class" (click)="toggle(1)"></i>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="confirmPass" class="col-lg-4 col-form-label">Confirm New Password :</label>
            <div class="col-lg-6">
                <input id="confirmPass" [disabled]="is_Edit=='false' ? true : null" [type]='passwordMasking[2].type' placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control pr-5">
                <i [class]="passwordMasking[2].class" (click)="toggle(2)"></i>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-rounded pl-5 pr-5" (click)="changePassword()">SAVE</button>
        </div>
    </div>
</div>
