.view-image {
    font-size: 1rem;
    color: rgba(80,85,113,1);
    
    .container {
        @media(min-width: 1600px) {
            max-width: unset;
        }
    }

    .box-shadow {
        box-shadow: 0px 3px 6px rgba(65, 87, 240, 0.25);
    }

    .header {
        font-size: 0.9rem !important;  

        #sortMenuButton {
            height: unset;
        }
        .search {
            width:225px;

            @media(max-width: 998px) {
                width: 150px;
            }
        }
        input, .select {
            font-family: 'helvetica-regular';
            border-radius: 60px;
            color: #707070;
            border: 1px solid rgba(112, 112, 112, 0.91);
            font-size: 0.9rem;
            width: 130px;
            outline: none;
            background: transparent;
        } 
        .select:focus{
            box-shadow: none;
        }
        .dropdown-toggle::after{
            content: none;
        }
        ::-webkit-input-placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        ::-moz-placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        :-ms-input-placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        ::placeholder {
            color: rgba(124, 127, 146, 0.33);
        }
        .search-icon {
            position: absolute;
            top: 3px;
            left: 15px;
            color:#1C9EE4;
        }
        .down-arrow{
            position: absolute;
            right: 10px;
            font-size: 0.7rem;
            top: 6px;
            color:#1C9EE4;
        }
        .dropdown-menu {
            font-size: 0.9rem; 
        }
        .dropdown-item:active{
            background: rgba(28, 158, 228, 0.1)
        }
        #filter{
            #dropdownMenuButton{
                font-weight: bold;
                font-size: 1.1rem;
                sup span{   // Badge styles which shows the no. of filters applied
                    font-size: 0.6rem;
                    border: 1px solid #5168F5;
                    color: #5168F5;
                }
            }
            .disabled{
                pointer-events: none;
            }
            .dropdown-menu{
                border: none;
                top: 5px !important;
                min-width: 210px;
    
                .close{
                    position: absolute;
                    right: -13px;
                    top: -14px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    opacity: 1;
                }
                i{
                    color:#556DF6;
                }
                span{
                    color: rgba(80,85,113,0.7);
                }
            }
        }
    }

    #images{
        .card {
            border-color: rgba(112,112,112,0.65);
        }

        .blue {
            color: #283CEB;
        }
        .red {
            color: #f00;
        }
        .green {
            color: #2cb92c;
        }
        .card-img-top {
            height: 120px;
        }

        .card-body {
            i{
                font-size: 1.5rem;
                cursor: pointer;
            }
            .image-name{
                font-size: 0.8rem;
            }
            .image-type, .upload-time{
                font-size: 0.75rem;
            }
            .upload-time{
                color: rgba(80,85,113,0.61);
            }
            .info{
                color: #1787DC;
            }
        }
    }
}

#imageInfoModal{
    font-size: 0.9rem;
    
    .modal-header {
        .center {
            margin-left: 30%;
            transform: translateX(-50%);
        }
        p {
            margin: 0;

            i {
                font-size: 1.7rem;
            }
        }

        .names {
            max-width: 120px;

            @media(min-width: 1200px) {
                max-width: 225px;
            }
            .image-name {
                font-size: 1rem;
            }
            .project-name {
                font-size: 0.9rem;
                color: rgba(80,85,113,0.5);
            }
        }
        
        .status-btn {
            font-size: 1.2rem;
            color: rgba(44,64,235,0.86);
        }
        .close {
            width: unset;
            height: unset;
            font-size: 3rem;
            color: #556DF6;
            opacity: 1;
            font-weight: 400;
        }
    }

    .active {
        color: #0023F3;
    }

    // Image info modal styles
    .modal-dialog {
        min-width: 100%;

        .modal-content {
            height: 100vh;
            border: unset;
            border-radius: unset;
        }

        .modal-body {
            background: #F9FAFE;

            .canvas-container {
               
                #canvas {
                    position: relative;
                }
        
                #canvasImage {
                    position: absolute;
                }
            }

            .details {
                height: 65vh;

                .header .title {
                    border-color: #6C7088 !important;
                }
                .shape-name {
                    padding-left: 0.8rem;

                    @media(min-width: 998px) {
                        padding-left: 2.5rem;
                    }
                }
            }

            .cursor {
                cursor: pointer;
            }
        }

        .modal-footer {
            height: 200px;
            height: 20vh;
        }
    }
    
}