<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand d-flex w-50 mr-auto" href="">
            <img src="../../assets/images/Logo@Oclavi.png" />
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="width:80%">
        <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
           <li class="nav-item"><a href="/#about-us" class="nav-link link-scroll">About Us</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link link-scroll">Features</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Annotation Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/bounding-box-annotation">Bounding Box</a>
                    <a class="dropdown-item" href="/polygonal-annotation">Polygonal</a>
                    <a class="dropdown-item" href="/3d-cuboid-annotation">Cuboidal</a>
                </div>
            </li>
            <li class="nav-item"><a href="/#pricing" class="nav-link link-scroll">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use Cases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/agriculture-tech-computer-vision-model">Agriculture Tech</a>
                </div>
            </li>
            <li class="nav-item"><a href="/faq" class="nav-link link-scroll">Faq's</a></li>
            <li class="nav-item"><a href="/#contact-us" class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item"><a href="/freelancer" class="nav-link">Freelancer</a></li> -->
        </ul>
        <div class="navbar-text">
            <a href="/login" class="btn btn-outline-primary navbar-btn btn-shadow">Login</a>
            <a href="/#pricing" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
        </div>
        </div>
    </nav>
</header>
<section class="hero hero-home">
    <div class="container" id="pp-main-container">
        <div id='ppHeader'>GDPR Compliance</div>
        <div id='ppBody'>
            <div style='clear:both;height:10px;'></div>
            <div id="ppSubHeader">What is GDPR?</div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>The EU General Data Protection Regulation (GDPR) is widespread data protection law that addresses on data protection and privacy of all individuals within the  European Union (EU). This regulation provides single set of rules to control the processing and monitoring of EU data.
                <br />
            </div>
            <br />
            <div id="ppSubHeader">How is OCLAVI preparing for GDPR?</div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>
                At OCLAVI (Carabiner Technologies Private Limited), we build very strong data protection framework for all our users and also, we ensure that we are meeting the obligations and taking appropriate actions for our users.
                <br />
            </div>
            <br />
            <div class='innerText'>
                We have updated our <a href="/privacypolicy">Privacy Policy</a> and <a href="/terms">Terms of Service</a> to maintain transparency and make users understand what information we gather and why do we collect it.
                <br />
            </div>
            <br />
            <div class='innerText'>
                We have dynamic navigation which helps users to easily find out what you are looking for.
                <br />
            </div>
            <br />
            <div class='innerText'>
                As we use certain third party contractors to make OCLAVI available, we maintain DPA (Data Processing Agreements) Standards.
                <br />
            </div>
            <br />
            <div class='innerText'>
                We shall keep updating the information from time to time, for further queries kindly contact <b>support@oclavi.com</b>
                <br />
            </div>
            <span id='infoCo'></span>
        </div>
    </div>
</section>
<!--- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#" class="brand">OCLAVI</a>
                <ul class="contact-info list-unstyled">
                <li><a href="mailto:support@oclavi.com">Support@Oclavi.com</a></li>
                <li><a href="tel:445603750100">+44 56 0375 0100</a></li>
                </ul>
                <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/oclavi" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/oclavi_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/carabinertechnologies/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Resources</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://medium.com/oclavi" target="_blank">Blog</a></li>
                <li> <a href="/faq">FAQ's</a></li>
                <li> <a href="/terms">Terms & Conditions</a></li>
                <li> <a href="/privacypolicy">Privacy Policy</a></li>
                <li> <a href="/gdpr-compliance">GDPR Compliance</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Carabiner Technologies</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://www.carabinertech.com/about">About Carabiner</a></li>
                <li> <a href="https://angel.co/carabiner-technologies/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-md-7">
            <p>&copy; 2018 Oclavi.com. All rights reserved.                        </p>
            </div>
        </div>
        </div>
    </div>
</footer>
