<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand d-flex w-50 mr-auto" href="">
            <img src="../../assets/images/Logo@Oclavi.png" />
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse" style="width:80%">
        <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
           <li class="nav-item"><a href="/#about-us" class="nav-link link-scroll">About Us</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link link-scroll">Features</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Annotation Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/bounding-box-annotation">Bounding Box</a>
                    <a class="dropdown-item" href="/polygonal-annotation">Polygonal</a>
                    <a class="dropdown-item" href="/3d-cuboid-annotation">Cuboidal</a>
                </div>
            </li>
            <li class="nav-item"><a href="/#pricing" class="nav-link link-scroll">Pricing</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use Cases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item active" href="/agriculture-tech-computer-vision-model">Agriculture Tech</a>
                </div>
            </li>
            <li class="nav-item"><a href="/faq" class="nav-link link-scroll">Faq's</a></li>
            <li class="nav-item"><a href="/#contact-us" class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item"><a href="/freelancer" class="nav-link">Freelancer</a></li> -->
        </ul>
        <div class="navbar-text">
            <a href="/login" class="btn btn-outline-primary navbar-btn btn-shadow">Login</a>
            <a href="/#pricing" class="btn btn-primary navbar-btn btn-shadow btn-gradient">Sign Up</a>
        </div>
        </div>
    </nav>
</header>
<section class="hero hero-home">
    <div class="container" id="pp-main-container">
        <div id='ppHeader'>Detecting Plant disease with Computer vision models</div>
        <br />
        <div id='ppBody'>
            <div style='clear:both;height:10px;'></div>
            <!-- <div id="ppSubHeader">What is GDPR?</div>
            <div style='clear:both;height:10px;'></div> -->
            <div class='innerText' style="font-style: italic;">
                Artificial Intelligence (AI) helps farmers reinvent the way they did farming for decades. 
                Computer vision models built on the basis of Artificial Intelligence & machine learning 
                inspired modernization in agriculture sector.
                <br /><br />
            </div>
            <div class='innerText'>
                Do plants fall sick? Yes, they regularly fall sick & protecting them
                 from diseases has become a major challenge for farmers.
                <br /><br />
            </div>
            <div id="ppSubHeader">Why protect rather than prevent?</div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>
                Plant diseases one of the world’s most common problem. There are various reasons like weather, 
                soil conditions that trigger the fungal infections that cause emergence of diseases on plant. 
                Farmers protect their farms from these diseases to avoid reduction in their yield, 
                this problem has to be addressed at the earliest to avoid spreading to other plants.
                <br /><br />
            </div>
            <div class='innerText'>
                “They occur regularly and require constant monitoring, although we observe they spread rapidly. 
                By the time we take action on the disease, it spreads all over the farm destroying even healthy 
                plants” says Ramalingam, an agriculturist. 
                <br /><br />
            </div>
            <div class='innerText'>
                “By the time we come to know about the type of disease and treat them they spread rapidly and 
                we end up investing in hell lot of fungicides to avoid disease. Worst part is different 
                disease require different kinds of fungicides” says Krishna, an agriculturist. 
                <br /><br />
            </div>
            <div id="ppSubHeader">Is AI boon for farmers?</div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>
                Yes, we can solve this problem with the help of AI & ML driven machines. 
                Developers are focusing on building advanced computer vision models which detect plant/crop diseases. 
                AI & ML are enabling companies to build models which help identifying from diseases & pests to 
                picking fruits (produce). Developers train their models to detect plant diseases at a very early 
                stage and prevent plant diseases. 
                <br /><br />
            </div>
            <div class='innerText'>
                Annotation tools are used to annotate objects like image, text. Video etc. to train their models. 
                Quality of the model depends on the type of annotation used to train computer vision models.
                <br /><br />
            </div>
            <div id="ppSubHeader">Annotating with polygon tool</div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>
                One of the Best tool for annotating objects for agricultural ML models is Polygon tool. 
                Polygon annotation tools supports to annotate irregular shapes, this tool allows to consider 
                precise and target affected areas of defected plants.
                <br /><br />
            </div>
            <div class='innerText'>
                Training computer vision models becomes easy by annotating objects using 
                polygon tool. Some of the use cases are:
                <br /><br />
            </div>
            <div class='innerText' style="font-style: italic;">
                Training computer vision models using polygon tool to detect rust disease on rose leaf.
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-agritech/leaf-before-annotation-01.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">xample 1Leaf with rust disease before annotation.</figcaption>
                </figure>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <figure class="figure">
                  <img src="../../assets/images/uc-agritech/leaf-after-annotation-01.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with disease annotated with Polygon tool.">
                  <figcaption class="figure-caption font-italic">Leaf with disease annotated with Polygon tool.</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                <figure class="figure">
                  <img src="../../assets/images/uc-agritech/leaf-before-annotation-02.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with rust disease before annotation.">
                  <figcaption class="figure-caption font-italic">Leaf with rust disease before annotation.</figcaption>
                </figure>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <figure class="figure">
                  <img src="../../assets/images/uc-agritech/leaf-after-annotation-02.png" style="height:250px; width:100%;" class="figure-img img-fluid rounded" alt="Leaf with disease annotated with Polygon tool.">
                  <figcaption class="figure-caption font-italic">Leaf with disease annotated with Polygon tool.</figcaption>
                </figure>
                <br /><br />
            </div>
            <div class='innerText'>
                <b>Trains Models to:</b> Detect the Pustules in Orange, Yellow, Black, Brown, Black or White in color
                <br /><br />
            </div>
            <div class='innerText'>
                <b>Identifies:</b> Rust diseases on Plant
                <br /><br />
            </div>
            <div class='innerText'>
                By using polygon annotation tool, models can be trained to detect Pustules in Orange, Yellow, Black, 
                Brown, Black or White in color, this enables the model to detect rust disease that’s ruining the 
                plant. Training the stages of the affected leaf makes the model identify in initial phases itself.
                <br /><br />
            </div>
            <div class='innerText'>
                The annotation tool enables the models to train small, dark raised spots on the leaf 
                caused due to wet and warm environments. The trained models help farmers in detecting t
                he disease and protect plant
                <br /><br />
            </div>
            <div class='innerText'>
                The most common problem in plants is Aphids. Detecting them now became easy with the help of 
                AI enabled models. Annotating leafs and stems effected with small green or yellow bugs helps 
                the models to detect the disease of the plant.
                <br /><br />
            </div>
            <span id='infoCo'></span>
        </div>
    </div>
</section>
<!--- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6"><a href="#" class="brand">OCLAVI</a>
                <ul class="contact-info list-unstyled">
                <li><a href="mailto:support@oclavi.com">Support@Oclavi.com</a></li>
                <li><a href="tel:445603750100">+44 56 0375 0100</a></li>
                </ul>
                <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/oclavi" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/oclavi_" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/carabinertechnologies/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Resources</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://medium.com/oclavi" target="_blank">Blog</a></li>
                <li> <a href="/faq">FAQ's</a></li>
                <li> <a href="/terms">Terms & Conditions</a></li>
                <li> <a href="/privacypolicy">Privacy Policy</a></li>
                <li> <a href="/gdpr-compliance">GDPR Compliance</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Carabiner Technologies</h5>
                <ul class="links list-unstyled">
                <li> <a href="https://www.carabinertech.com/about">About Carabiner</a></li>
                <li> <a href="https://angel.co/carabiner-technologies/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-md-7">
            <p>&copy; 2018 Oclavi.com. All rights reserved.                        </p>
            </div>
        </div>
        </div>
    </div>
</footer>
