<div class="dashboard">
  <p class="title" style="font-family: 'helvetica-medium';color: #505571;">
    <img src="../../assets/icons/Dashbord.svg" alt="Dashbord" width="20" height="20" class="mr-md-1" />
    <span>Dashboard</span>
  </p>
  <!-- Earning details -->
  <div id="earning-details" class="row m-0 mb-3">
    <div class="col-9 px-md-1">
      <div class="py-md-3 py-lg-4 p-md-2 p-xl-3 bg-blue box-shadow">
        <div class="d-flex justify-content-between">
          <span class="px-md-1 px-lg-2 px-xl-3 title mb-4">Estimated Earnings</span> 
          <span class="px-md-1 px-lg-2 px-xl-3 title"><i class="fa fa-ellipsis-v"></i></span> 
        </div>
        
        <div class="row m-0">
          <div class="col-3 px-md-1 px-lg-2 px-xl-3 text-truncate">
            <p class="sub-title">Today Earning</p>
            <p class="earning">$45.88</p>
          </div>
          <div class="col-3 px-md-1 px-lg-2 px-xl-3 text-center text-truncate">
            <p class="sub-title">Yesterday</p>
            <p class="earning mb-1">$45.88</p>
            <p class="earning-before mb-1 text-truncate">
              <i class="fa fa-sort-up mr-xl-1"></i>
              <span>+ $ 45.88(+55%)</span> 
            </p>
            <span class="earning-before-text text-truncate">vs. same day last week</span>
          </div>
          <div class="col-3 px-md-1 px-lg-2 px-xl-3 text-center text-truncate">
            <p class="sub-title">Last 7 Day</p>
            <p class="earning mb-1">$45.88</p>
            <p class="earning-before mb-1 text-truncate">
              <i class="fa fa-sort-down mr-xl-1"></i>
              <span>- $ 45.88(+55%)</span>
            </p>
            <span class="earning-before-text text-truncate">vs. previous 7 days</span>
          </div>
          <div class="col-3 px-md-1 px-lg-2 px-xl-3 text-center text-truncate">
            <p class="sub-title">This Month</p>
            <p class="earning mb-1">$45.88</p>
            <p class="earning-before mb-1 text-truncate">
              <i class="fa fa-sort-up mr-xl-1"></i>
              <span>+ $ 45.88(+55%)</span> 
            </p>
            <span class="earning-before-text text-truncate">vs. last month</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 px-md-1 px-xl-2">
      <div class="py-lg-4 p-md-3 bg-blue box-shadow">
        <div class="d-flex justify-content-between">
          <span class="px-lg-3 title mb-4">Balance</span> 
          <span class="px-lg-3 title"><i class="fa fa-ellipsis-v"></i></span> 
        </div>
        
        <p class="earning px-lg-3">$45.88</p>
        <p class="sub-title mb-1 px-lg-3">Last Payment</p>
        <p class="sub-title px-lg-3">$45.88</p>
      </div>
    </div>
  </div>

  <!-- Performance chart -->
  <div id="chart-box" class="bg-white box-shadow my-3 mx-1 p-3 chart-box">
    <p class="font-weight-bold">Performance</p>
    <p>Last 7 days</p>
    <div id="chart">

    </div>
  </div>

</div>