<app-header [userData]=session.user></app-header>
<div>
    <div class="container-fluid parent-container">
        <div class="content">
            <!--******************* HEADER **********************-->
            <div class="classify-header row p-2 pr-lg-4 pl-lg-4 align-items-center">
                <!-- Question and number of shapes drawn details -->
                <div class="d-flex left-side box-shadow bg-white">
                    <div class="category p-1 m-1 pr-2 pl-2">
                        <span class="align-middle">{{this.questions?.item[0]?.QUESTION}}</span>
                    </div>
                    <div class="p-1 m-1 pr-2 pl-2 left-border">
                        <span class="clear-all align-middle" (click)="clearArea()">
                            Clear All&nbsp;
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="count text-white p-2 left-border">
                        <span class="align-middle">COUNT : {{ this.image.data.rect?.length + this.image.data.poly?.length }}</span>
                        <span class="pl-2 align-middle">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <!-- Timer -->
                <div class="middle-side text-center ml-auto">
                    <div class="time-elapsed pb-1">TIME ELASPED</div>
                    <div *ngIf="inactivityTimer" class="timer">{{ image.timer }}</div>
                    <div *ngIf="!inactivityTimer" class="time-pause  p-1 pr-2 pl-2 pr-lg-3 pl-lg-3 pr-xl-4 pl-xl-4 box-shadow">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Paused
                    </div>
                    <div class="hour-min-sec pt-1">
                        <span class="mr-1 mr-lg-2 mr-xl-3">HOUR</span>
                        <span class="min mr-1 mr-lg-2 mr-xl-3">MIN</span>
                        <span class="sec">SEC</span>
                    </div>
                </div>
                <!-- Certification level progrees bar -->
                <div class="right-side ml-auto">
                    <div class="total-image-classified text-center mb-1">CERTIFICATION LEVEL </div>
                    <div class="progress bg-white box-shadow ml-auto">
                        <div class="progress-bar" [style.width]="session.user.CERT_LEVEL / 5 * 100 + '%'"></div>
                        <span class="progress-text" [class.progress-text-right]="(session.user.CERT_LEVEL / 5 * 100) > 40 && (session.user.CERT_LEVEL / 5 * 100) < 65" [class.text-white]="(session.user.CERT_LEVEL / 5 * 100) > 65">{{ session.user.CERT_LEVEL }} / 5</span>
                    </div>
                </div>
                <div class="show_layers box-shadow text-center ml-md-4 ml-xl-5" id="toggle_sidebar_button" style="cursor: pointer;">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                </div>
            </div>

            <div class="canvas-ele row pt-1 pb-1" style="justify-content: space-between">
                <div class="shps pl-2 pl-lg-4">
                    <!--*******SHAPES******-->
                    <div class="shp" (click)="changeMode('RECTANGLE')" [ngClass]="{ 'shape-selected' : (mode == 'RECTANGLE'),  'shape-disabled' : this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'RECTANGLE' }" [attr.disabled]="mode == 'POLYGON'">
                        <img src="../../assets/icons/rectangle icon.svg" alt="Rectangle" class="align-middle shape" matTooltip="Rectangle" matTooltipPosition="right" />
                    </div>
        
                    <div class="shp" (click)="changeMode('CUBOID')" [ngClass]="{ 'shape-selected' : (mode == 'CUBOID'), 'shape-disabled' : this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'CUBOID' }">
                        <img src="../../assets/icons/cuboid.svg" alt="Cuboid" class="align-middle shape" matTooltip="Cuboid" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE == 'CUBOID'" />
                        <img src="../../assets/icons/cuboid_disabled.svg" alt="Cuboid" class="align-middle shape" matTooltip="Cuboid" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0].TOOL_TYPE != 'CUBOID'" />
                    </div>
    
                    <div class="shp" (click)="changeMode('POINT')" [ngClass]="{ 'shape-selected' : (mode == 'POINT'), 'shape-disabled' : this.questions?.item.length != 0 && this.questions?.item[0].TOOL_TYPE != 'POINT' }">
                        <img src="../../assets/icons/point.svg" alt="Point" class="align-middle shape point" matTooltip="Point" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0].TOOL_TYPE == 'POINT'" />
                        <img src="../../assets/icons/point_disabled.svg" alt="Point" class="align-middle shape point" matTooltip="Point" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'POINT'" />
                    </div>
    
                    <div class="shp" (click)="changeMode('CIRCLE')" [ngClass]="{ 'shape-selected' : (mode == 'CIRCLE'), 'shape-disabled' :this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'CIRCLE' }">
                        <img src="../../assets/icons/circle.svg" alt="Circle" class="align-middle shape" matTooltip="Circle" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE == 'CIRCLE'" />
                        <img src="../../assets/icons/circle_disabled.svg" alt="Circle" class="align-middle shape" matTooltip="Circle" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'CIRCLE'" />
                    </div>
    
                    <div class="shp" (click)="changeMode('POLYGON')" [ngClass]="{ 'shape-selected' : (mode == 'POLYGON'), 'shape-disabled' : this.questions?.item.length != 0 && this.questions?.item[0].TOOL_TYPE != 'POLYGON' }">
                        <img src="../../assets/icons/polygon.svg" alt="Polygon" class="align-middle shape" matTooltip="Polygon" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE == 'POLYGON'" />
                        <img src="../../assets/icons/polygon_diabled.svg" alt="Polygon" class="align-middle shape" matTooltip="Polygon" matTooltipPosition="right" *ngIf="this.questions?.item.length != 0 && this.questions?.item[0]?.TOOL_TYPE != 'POLYGON'" />
                    </div>
                </div>
                <!--***************  Canvas  ******************-->
                <div class="canvas-container col p-0 mr-3 ml-3">
                    <!-- Canvas for Image -->
                    <canvas id="canvasImage" width="{{canvasWidth}}" height="{{canvasHeight}}" class="box-shadow"></canvas>
                    <!-- Canvas for drawing shapes -->
                    <canvas id="canvas" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
                </div>
    
                <div class="ctrls pr-2 pr-lg-4">
                    <!--*******CONTROLS******-->
                    <div class="ctrl" (click)="zoomPlus()" [ngClass]="{ 'control-disabled' : scale == zoomThreshold }">
                        <img src="../../assets/icons/zoom_in.svg" alt="Zoom In" class="align-middle control" matTooltip="Zoom In" matTooltipPosition="right" *ngIf="scale != zoomThreshold" />
                        <img src="../../assets/icons/zoom_in_disabled.svg" alt="Zoom In" class="align-middle control" matTooltip="Zoom In" matTooltipPosition="right" *ngIf="scale == zoomThreshold" />
                    </div>
    
                    <div class="ctrl" (click)="zoomMinus()" [ngClass]="{ 'control-disabled' : scale == 1}">
                        <img src="../../assets/icons/zoom_out.svg" alt="Zoom Out" class="align-middle control" matTooltip="Zoom Out" matTooltipPosition="right" *ngIf="scale != 1" />
                        <img src="../../assets/icons/zoom_out_disabled.svg" alt="Zoom Out" class="align-middle control" matTooltip="Zoom Out" matTooltipPosition="right" *ngIf="scale == 1" />
                    </div>
    
                    <div class="ctrl" (click)="changeMode('move')" [ngClass]="{ 'control-disabled' : scale == 1, 'control-selected' : mode == 'move' && scale != 1}">
                        <img src="../../assets/icons/move_image.svg" alt="MOVE IMAGE" class="align-middle control" matTooltip="MOVE IMAGE" matTooltipPosition="right" *ngIf="scale != 1" />
                        <img src="../../assets/icons/move_image_disabled.svg" alt="MOVE IMAGE" class="align-middle control" matTooltip="MOVE IMAGE" matTooltipPosition="right" *ngIf="scale == 1" />
                    </div>
    
                    <div class="ctrl" (click)="moveImage(0, moveStep);" [ngClass]="{ 'control-disabled' :  scale == 1 || moveTop >= moveTopThreshold }">
                        <img src="../../assets/icons/move_up.svg" alt="MOVE UP" class="align-middle control" matTooltip="MOVE UP" matTooltipPosition="right" *ngIf="scale != 1 && moveTop < moveTopThreshold" />
                        <img src="../../assets/icons/move_up_disabled.svg" alt="MOVE UP" class="align-middle control" matTooltip="MOVE UP" matTooltipPosition="right" *ngIf="scale == 1 || moveTop >= moveTopThreshold" />
                    </div>
    
                    <div class="ctrl" (click)="moveImage(-moveStep, 0);" [ngClass]="{ 'control-disabled' : scale == 1 || moveRight >= moveRightThreshold }">
                        <img src="../../assets/icons/move_right.svg" alt="MOVE RIGHT" class="align-middle control" matTooltip="MOVE RIGHT" matTooltipPosition="right" *ngIf="scale != 1 && moveRight < moveRightThreshold" />
                        <img src="../../assets/icons/move_right_disabled.svg" alt="MOVE RIGHT" class="align-middle control" matTooltip="MOVE RIGHT" matTooltipPosition="right" *ngIf="scale == 1 || moveRight >= moveRightThreshold"
                        />
                    </div>
    
                    <div class="ctrl" (click)="moveImage(0, -moveStep);" [ngClass]="{ 'control-disabled' : scale == 1 || moveBottom >= moveBottomThreshold }">
                        <img src="../../assets/icons/move_down.svg" alt="MOVE DOWN" class="align-middle control" matTooltip="MOVE DOWN" matTooltipPosition="right" *ngIf="scale != 1 && moveBottom < moveBottomThreshold" />
                        <img src="../../assets/icons/move_down_disabled.svg" alt="MOVE DOWN" class="align-middle control" matTooltip="MOVE DOWN" matTooltipPosition="right" *ngIf="scale == 1 || moveBottom >= moveBottomThreshold"
                        />
                    </div>
    
                    <div class="ctrl" (click)="moveImage(moveStep, 0);" [ngClass]="{ 'control-disabled' : scale == 1 || moveLeft >= moveLeftThreshold }">
                        <img src="../../assets/icons/move_left.svg" alt="MOVE LEFT" class="align-middle control" matTooltip="MOVE LEFT" matTooltipPosition="right" *ngIf="scale != 1 && moveLeft < moveLeftThreshold" />
                        <img src="../../assets/icons/move_left_disabled.svg" alt="MOVE LEFT" class="align-middle control" matTooltip="MOVE LEFT" matTooltipPosition="right" *ngIf="scale == 1 || moveLeft >= moveLeftThreshold"
                        />
                    </div>
    
                    <div class="ctrl" (click)="changeMode('pointer');" [ngClass]="{ 'control-selected' : mode == 'pointer', 'control-disabled' : (image.data[mode]?.length + image.data[currentLabel]?.poly?.length == 0) }">
                        <img src="../../assets/icons/select.svg" alt="SELECT" class="align-middle control select" matTooltip="SELECT" matTooltipPosition="right" *ngIf="(image.data[mode]?.length + image.data[currentLabel]?.poly?.length != 0)"/>
                        <img src="../../assets/icons/select_disabled.svg" alt="SELECT" class="align-middle control select" matTooltip="SELECT" matTooltipPosition="right" *ngIf="(image.data[mode]?.length + image.data[currentLabel]?.poly?.length == 0)"/>
                    </div>
    
                    <div class="ctrl" (click)="removeObject();" [ngClass]="{ 'control-disabled' : pointerSelectedIndex == null }">
                        <img src="../../assets/icons/remove_shape.svg" alt="REMOVE SHAPE" class="align-middle control" matTooltip="REMOVE SHAPE" matTooltipPosition="right" *ngIf="pointerSelectedIndex != null" />
                        <img src="../../assets/icons/remove_shape_disabled.svg" alt="REMOVE SHAPE" class="align-middle control" matTooltip="REMOVE SHAPE" matTooltipPosition="right" *ngIf="pointerSelectedIndex == null" />
                    </div>
    
                    <div class="ctrl" (click)="resetImage()" [ngClass]="{ 'control-disabled' : scale == 1}">
                        <img src="../../assets/icons/reset_image.svg" alt="RESET IMAGE" class="align-middle control" matTooltip="RESET IMAGE" matTooltipPosition="right" *ngIf="scale != 1" />
                        <img src="../../assets/icons/reset_image_disabled.svg" alt="RESET IMAGE" class="align-middle control" matTooltip="RESET IMAGE" matTooltipPosition="right" *ngIf="scale == 1" />
                    </div>
    
                    <div class="ctrl mb-0" (click)="undo()" [ngClass]="{ 'control-disabled' : this.image.data[this.shape]?.length == 0}">
                        <i class="fa fa-undo control align-middle" aria-hidden="true" matTooltip="Undo" matTooltipPosition="right"></i>
                    </div>
                </div>
            </div>

            <!-- Check Selection button -->
            <div class="classify-footer d-flex justify-content-end p-2 pb-2 pr-lg-4 pl-lg-4 mt-2">
                <button class="btn-next box-shadow p-2 pr-4 pl-4 pr-lg-5 pl-lg-5" (click)="checkSelection()">
                    CHECK
                </button>
            </div>

            <!--*********************    Sidebar (Layers)     *************************-->
            <div id="sidebar_layers" class="sidebar bg-white box-shadow">
                <!-- Area of Information e.g. width, height, x and y positions of drawn shapes -->
                <div>
                    <p class="heading d-flex justify-content-between px-2 py-1 m-0 text-truncate">
                        <span>Area of information</span>
                        <span style="cursor: pointer;" data-toggle="collapse" data-target="#area_of_info" aria-controls="area_of_info" id="area_of_info_button" class="collapse_btn">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </span>
                    </p>
                    <div class="row m-0 collapse" id="area_of_info" *ngIf="mode === 'pointer' && pointerSelectedIndex != null && (pointerSelectedShape != null && pointerSelectedShape != 'cuboid' && pointerSelectedShape != 'poly')" style="background: #F9FAFE;">
                        <div class="col-6 p-2" *ngIf="image.data[pointerSelectedShape][pointerSelectedIndex].width">
                            <div class="text-blue px-2 py-1 box-shadow">
                                <span>Width</span>
                                <p class="mb-0 dimension">{{ image.data[pointerSelectedShape][pointerSelectedIndex].width.toFixed(2) }}</p>
                            </div>
                        </div>
                        <div class="col-6 p-2" *ngIf="image.data[pointerSelectedShape][pointerSelectedIndex].height">
                            <div class="text-blue px-2 py-1 box-shadow">
                                <span>Height</span>
                                <p class="mb-0 dimension">{{ image.data[pointerSelectedShape][pointerSelectedIndex].height.toFixed(2) }}</p>
                            </div>
                        </div>
                        <div class="col-6 p-2" *ngIf="image.data[pointerSelectedShape][pointerSelectedIndex].radius">
                            <div class="text-blue px-2 py-1 box-shadow">
                                <span>Radius</span>
                                <p class="mb-0 dimension">{{ image.data[pointerSelectedShape][pointerSelectedIndex].radius.toFixed(2) }}</p>
                            </div>
                        </div>
                        <div class="col-6 p-2" *ngIf="image.data[pointerSelectedShape][pointerSelectedIndex].coordinate.x">
                            <div class="text-blue px-2 py-1 box-shadow">
                                <span>X</span>
                                <p class="mb-0 dimension">{{ image.data[pointerSelectedShape][pointerSelectedIndex].coordinate.x.toFixed(2) }}</p>
                            </div>
                        </div>
                        <div class="col-6 p-2"  *ngIf="image.data[pointerSelectedShape][pointerSelectedIndex].coordinate.y">
                            <div class="text-blue px-2 py-1 box-shadow">
                                <span>Y</span>
                                <p class="mb-0 dimension">{{ image.data[pointerSelectedShape][pointerSelectedIndex].coordinate.y.toFixed(2) }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!-- Layers... user can check here all drawn shapes -->
                    <p class="heading px-2 py-1 mb-0 d-flex justify-content-between">
                        <span>Layers</span>
                        <span style="cursor: pointer;" data-toggle="collapse" data-target="#layers" aria-controls="layers" id="layers_button" class="collapse_btn">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </span>
                    </p>
        
                    <div id="layers" class="collapse" *ngIf="showLayers">
                        <div *ngFor="let drawnShape of image.data[shape]; let i = index" class="layer d-flex" [class.active]="mode === 'pointer' && pointerSelectedIndex === i && pointerSelectedShape === shape" style="position: relative;">
                            <p (click)="selectShapeFromLayers(i)" class="border-right cursor px-2">
                                <img src="../../assets/icons/eye.svg" alt="Show Shape" style="width: 1rem;" *ngIf="mode !== 'pointer' || pointerSelectedIndex !== i || pointerSelectedShape !== shape">
                                <img src="../../assets/icons/active_eye.svg" alt="Hide Shape" style="width: 1rem;" *ngIf="mode === 'pointer' && pointerSelectedIndex === i && pointerSelectedShape === shape">
                            </p>
                            <p class="text-truncate" style="padding-right: 30px;">{{ environment.SHAPES_FULL_NAME['rect'].CANVAS_NAME }}{{ i + 1 }}</p>
                            <p (click)="removeObject()" class="cursor px-2" *ngIf="mode === 'pointer' && pointerSelectedIndex === i && pointerSelectedShape === shape" style="position: absolute; right: 0;">
                                &times;
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>